.team-form {
  width: 50%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.team-member {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.team-member input,
.team-member select,
.team-form input,
.team-form select {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-btn,
.remove-btn {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.add-btn {
  background: #28a745;
}

.remove-btn:hover {
  background: #d43f3f;
}

.add-btn:hover {
  background: #218838;
}

.submit-btn {
  background: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #0056b3;
}
