.evaluation-panel {
  padding: 2vw;
  font-family: 'Times New Roman', Times, serif;
}

.heading {
  text-align: center;
  font-size: 2vw;
  margin-bottom: 2vh;
  margin-top: 15vh;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.8rem;
  color: #333;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 100%;
}

.team-bar {
  background-color: #f8f9fa;
  padding: 2%;
  border-radius: 0.5vw;
  box-shadow: 0 0.2vw 0.5vw rgba(0, 0, 0, 0.1);
  width: 100%;
}

.team-info {
  font-size: 1.5vw;
  font-weight: bold;
  margin-bottom: 1vh;
}

.evaluate-btn {
  background-color:#218838;
  color: white;
  padding: 1% 1%;
  border: none;
  cursor: pointer;
  border-radius: 0.4vw;
  font-size: 1.2vw;
  width: fit-content;
  font-weight: normal;
  margin: 0.1%;
  font-family: 'Times New Roman', Times, serif;
}

.evaluate-btn:hover {
  background-color:#28a745;
}

.evaluation-section {
  margin-top: 2vh;
  width: 100%;
}

.evaluation-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2vh;
}

.evaluation-table th, .evaluation-table td {
  border: 0.1vw solid #ddd;
  padding: 0.5%;
  text-align: center;
}

.evaluation-table th {
  background-color: #16304c;
  color: white;
  font-size: 1.5vw;
}

.evaluation-table input {
  width: 70%;
  padding: 0.2%;
  text-align: center;
  font-size: 1vw;
}

.submit-btn {
  background-color: #28a745;
  color: white;
  padding: 1.5% 2%;
  border: none;
  cursor: pointer;
  border-radius: 0.4vw;
  font-size: 1.4vw;
}

.submit-btn:hover {
  background-color: #88978b;
}

.no-teams {
  text-align: center;
  font-size: 1.6vw;
  color: #dc3545;
  margin-top: 3vh;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .heading {
    font-size: 4vw;
  }
  
  .team-info {
    font-size: 3vw;
  }

  .evaluate-btn {
    font-size: 3vw;
    padding: 2.5% 4%;
    color: #218838;
  }

  .evaluation-table th, .evaluation-table td {
    font-size: 2.5vw;
    padding: 2.5%;
  }

  .evaluation-table input {
    width: 40%;
  }

  .submit-btn {
    font-size: 3vw;
    padding: 2.5% 4%;
  }
}
