/* Ensure the search bar and back button are centered */
.search-container.fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  gap: 10px;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.back-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
}

.search-bar {
  flex: 1;
  max-width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 200px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .search-container.fixed {
      flex-direction: column;
      align-items: center;
  }
  .search-bar {
      width: 80%;
      margin-top: 10px;
  }
}

.content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Flashcards */
.flashcards-container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for small screens */
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

.fflashcard {
  color: #757575;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: white;
  flex: 1;
  min-width: 250px;
  max-width: 400px;
}

.flashcard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.flashcardheader {
  font-size: 18px;
  color: #3f51b5;
  margin-bottom: 10px;
}

.flashcard p {
  font-size: 14px;
  color: #757575;
}

.teachers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teacher-flashcard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.select-button {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.selected {
  background-color: gray;
  color: white;
}

.input-error {
  border: 1px solid red;
}

textarea {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

textarea.input-error {
  border: 1px solid red;
}
